<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>New/Update businesstrip</h1>

    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Save</button>
    </form>

    {% if businesstrip %}
        <a href="{% url 'delete_businesstrip' businesstrip.id %}">Delete</a>
    {% endif %}
    
</body>
</html>