{% extends 'base.html' %}

{% block content %}
    <h5><a href="{% url 'create_businesstrip' %}">Post</a> new Travel Diary!</h5>
    {% for businesstrip in businesstrips %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">Posted: {{ businesstrip.date_posted|date:"F d, Y" }}</small>
                    <small class="text-muted">by {{ businesstrip.author }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'update_businesstrip' businesstrip.id %}">
                    {{ businesstrip.title }}</a></h2>
                <small class="text-muted">Travel date: {{ businesstrip.travel_date|date:"F d, Y"}}</small>
                <small class="text-muted">Destination: {{businesstrip.city_name}}</small>   
                <p class="article-content">{{ businesstrip.content }}</p>
            </div>
            {% for weather in weather_data %}
                {% if weather.city == businesstrip %}
                    <div class="col-md-auto">        
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-50x50">
                                        <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <strong style="color: #05aeb4;">
                                            <span class="title">{{ weather.city }}</span>
                                            <br>
                                            <span class="subtitle">{{ weather.temperature }}° C</span>
                                            <br> {{ weather.description }}
                                        </strong>
                                    </div>
                                </div>
                            </article>
                        </div>           
                    </div>
                {% endif %}
            {% endfor %}
        </article>
    {% endfor %}
    <!--<dl><a href="{% url 'logout' %}">Logout</a></dl>-->
{% endblock %}