{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
      <h1>Welcome to Travel Diary <strong style="color:blue;">{{ user.username }}!</strong></h1>
      <dl>To browse, add or update businesstrips, click 
      <strong><a href="{% url 'list_businesstrips' %}">here</a></strong></dl>
      Plan businesstrip? Check
      <strong><a href="{% url 'weatherview' %}">local weather</a></strong>
      in your destinations!
      <dl><strong><a href="{% url 'logout' %}">Logout</a></strong></dl>
    {% else %}
      <strong>You are not logged in?</strong>
      <dl><a href="{% url 'login' %}">LOGIN HERE</a></dl>
      <dl> <strong>or</strong></dl> <a href="{% url 'signup' %}">Create user account</a>
    {% endif %}
{% endblock content %}