{% extends 'base.html' %}

{% block content %}
<h2 style="color:#05aeb4;">Compare weather in all travel destinations!</h2>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />-->
    <!--<section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    What's the weather like at your travel destinations?
                </h1>
            </div>
        </div>
    </section>-->
    <!--<section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                {{form.city_name}}
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>-->
    <!--<section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">-->
                <div class="card-columns">
                    {% for weather in weather_data %}
                        <!--<article class="media content-section">-->
                        <!--<div class="row">
                            <div class="col-sm-6">-->
                                <div class="card border-warning mb-3" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <article class="media">
                                            <div class="media-left">
                                                <figure class="image is-50x50">
                                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                                </figure>
                                            </div>
                                            <div class="media-content">
                                                <div class="content">
                                                    <strong style="color: #05aeb4;">
                                                        <span class="title">{{ weather.city }}</span>
                                                        <br>
                                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                                        <br> {{ weather.description }}
                                                    </strong>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                </div>  
                            <!--</div>
                        </div>-->
                    {% endfor %}
                </div>
                    <!--</article>
                    
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
{% endblock %}